@charset "utf-8";

/*less-css*/
@import url("../sanitizecss/sanitize.css");


@font-face {
	font-family: 'CorpB';
	src: url("../fonts/Corporate-Logo-Bold-ver2.woff") format('woff');
}
@font-face {
	font-family: 'CorpM';
	src: url("../fonts/Corporate-Logo-Medium-ver2.woff") format('woff');
}

body {
    scrollbar-width: none; /*Firefox対応のスクロールバー非表示コード*/  
    -ms-overflow-style: none;/*Internet Explore対応のスクロールバー非表示コード*/   
}

body::-webkit-scrollbar {  
  display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}

/*-----------------ALL-----------------*/
html,body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	height: 100%;
}

body {
	font-family:sans-serif;
	-webkit-text-size-adjust: none;
	background: #f7f7f7;
	color: #222;
	line-height: 2;
}

a i{
	font-size: 0.7em;
}

/*reset*/
figure {
	margin: 0;
}
dd {
	margin: 0;
}
nav {
	margin: 0;
	padding: 0;
}

/*images*/
img {
	border: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/*sections*/
section + section {
	padding-top:30px;	/*padding_each_section*/
}

a {
	display: inline;
	color: #222;
	transition: .8s;
	text-decoration: none;
}

a:hover {
	color: #03bdba;
	transition: .5s;
}


/*container*/
#container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.header-bg {
	position : fixed;
	display: inline-block;
	z-index: 15;
	width: 100%;
	height: 70px;
	background: rgba(255, 255, 255, 0.6);
}

header {
	z-index: 20;
	display: flex;
	align-items: center;
	padding: 2px 20px;
	background: #FFF;
	color: #03bdba;
}

header a {
	color: #03bdba;
}

/*logo-img*/
header #logo img {
	display: inline-block;
}
header #logo {
	order: 1;
	margin: 0 0 0 50px;
	width: 300px;
}

/*icon-group*/
#header-icon {
	order: 2;
	font-size: 29px;
	margin-left: auto;
}

/*icon*/
#header-icon i {
	padding-top: 0.65em;
	padding-right: 19px;
}


/*Humburger-menu*/
/*block*/
#menubar_hdr {
	position: fixed;z-index: 101;
	cursor: pointer;
	left: 14px;
	top: 15px;
	padding: 10px 8px;
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	order: 0;	
	background: transparent;
}

/*each-bar*/
#menubar_hdr span {
	display: block;
	transition: 0.6s;
	border-top: 2.5px solid #03bdba;
}

/*each-x*/
#menubar_hdr.ham span:nth-of-type(1),
#menubar_hdr.ham span:nth-of-type(3) {
	transform-origin: center center;
	width: 27px;
}

/*x_1*/
#menubar_hdr.ham span:nth-of-type(1){
	transform: rotate(45deg) translate(6px, 7px);
}

/*x_2*/
#menubar_hdr.ham span:nth-of-type(2){
	display: none;
}

/*x_3*/
#menubar_hdr.ham span:nth-of-type(3){
	transform: rotate(-45deg) translate(6px, -7px);
}


/*menu-block*/
#menubar {
	height: 0px;
	left: -250px;
	overflow: hidden;
}
#menubar ul {
	list-style: none;
	margin: 0 12px;
	padding: 0;
}
#menubar ul li.null {
	height: 80px;
}
#menubar ul li a {
	font-size: 17px;
}

/*menu-block*/
#menubar.db {
	position: fixed;
	overflow: auto;
	z-index: 10;
	left: 0px;
	top: 0px;
	width: 220px;
	height: 100%;
	padding: 0;
	background: rgba(255,255,255,.95);
	color: #fff;
	transition: .7s;
}

/*each-menu*/
#menubar.db a {
	color: #222;	/*文字色*/
}

/*current-menu*/
#menubar.db li.current a {
	background: #EEE;
}

/*current-menu*/
#menubar.db li a:hover {
	color: #EEE;
	background: #03bdba;
}

.mainimg {
	position: relative;
	margin-bottom: 30px;
}

.hero-image {
	position: relative;
}

/*-----------------/ALL-----------------*/

/*each-menu*/
#menubar li {
	margin-bottom: 50px;
	letter-spacing: 0.2em;
}
#menubar a {
	display: block;
	text-decoration: none;
	text-align: center;
}


main {	
	flex: 1;
	margin: 20px;
}

main h2 {
	font-family: CorpB;
	margin: 0;
	margin-bottom: 20px;
	font-weight: normal;
	letter-spacing: 0.2em;
	border-bottom: 4px solid #EEE;
}

main h2 span.uline {
	display: inline-block;
	position: relative;
	border-bottom: 4px solid #03bdba;
	bottom: -4px;
	padding: 0 20px;
}

main p {
	margin: 0 20px 30px;
}

/*footer*/
footer small {
	font-size: 140%;
}
footer small span#copy-left {
	display: inline-block;;
	transform: rotate(180deg);
	padding-top: 0em;
	padding-left: 0.4em;
	font-size: 1.3em;
}

footer {
	font-size: 0.7rem;
	letter-spacing: 0.5em;
	background: #999;
	color: #FFF;
	text-align: center;
	padding: 10px;
	font-family: serif;
}

footer a {
	color: #FFF;
	text-decoration: none;
}
footer a:hover {
	color: #FFF;
}
footer span{
	display: inline;
	transition: 0.6s;
}
footer span:hover {
	color: #03beba;
	transition: 0.6s;
	cursor: default;
}

.new {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
}


/*date*/
.new dt,
.new dd {
	padding: 7px 0;
}
.new dt {
	width: 14em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.new dd {
	width: calc(100% - 14em);
}

.new dt span {
	font-family: CorpM;
	display: inline-block;
	width: 6em;
	background: #999;
	color: #fff;
	font-size: 0.85em;
	padding-top: 0.1em;
	padding-left: 0.2em;
	letter-spacing: 0.25em;
	text-align: center;
	border-radius: 3px;
	margin-right: 1.2em;
	align-self: flex-start;
	line-height: 1.5;
	position: relative;
	top: 0.4em;
}


/*atcoder*/
.new dt span.icon-acc {
	background: #B33;
}
/*star*/
.new dt span.icon-star {
	background: #DA0;
}
/*tech*/
.new dt span.icon-tech {
	background: #0AA;
}


@media screen and (max-width:600px) { /*! screen width <= 600 */

header #logo {
	order: 1;
	margin-left: 35px;
	width: 200px;
}
/*icon-group*/
#header-icon {
	order: 2;
	font-size: 25px;
	padding-top: 3px;
	margin-left: auto;
}

/*icon*/
#header-icon i {
	padding-right: 6px;
}
#menubar_hdr {
	top: 12px;
}



html, body {
	font-size: 14.5px;
}

main {	
	margin: 10px;
}

.new dt {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.new dd {
	width: 100%;
}
.new dt span {
	width: 7em;
	font-size: 0.8em;
	padding-top: 0em;
	padding-left: 0.3em;
	letter-spacing: 0.35em;
}


footer {
	font-size: 0.4rem;
	letter-spacing: 0.4em;
}
}


@media screen and (min-width:950px) { /*! screen width >= 950 */


html, body {
	font-size: 16.5px;
}

header #logo {
	margin: 0;
}

/*icon*/
#header-icon i {
	margin-right: 20px;
}
#header-icon i {
	padding-right: 20px;
}

/*desable-humburger-menu*/
#menubar_hdr {
	display: none;
}

#menubar {
	width: 240px;
	left: 0px;
	top: 40px;
	margin: 0 30px;
	height: calc(100% - 40px);
	position: fixed;
}

/*current-menu-bar*/
#menubar li.current a {
	background: #666;
	color: #fff;
}

/*current-menu*/
#menubar li a:hover {
	color: #EEE;
	background: #03bdba;
}

main {
	margin: 50px 50px 50px 300px;
}

.new dt span {
	font-size: 0.8em;
	padding-top: 0.05em;
	padding-left: 0.3em;
}

}